<div id="homepage">

<div class="specials left">
	<div class="special">
		<a href="#">
		<img src="<%= asset_path('cat-image1.png') %>" alt="">
		<h3 class="cat-title">Новинки</h3>
		</a>
	</div>
	<div class="special">
		<a href="#">
		<img src="<%= asset_path('cat-image2.png') %>" alt="">
		<h3 class="cat-title">Популярные Товары</h3>
		</a>
	</div>
	<div class="special">
		<a href="#">
		<img src="<%= asset_path('cat-image3.png') %>" alt="">
		<h3 class="cat-title">Статистика</h3>
		</a>
	</div>
</div>

<div class="content">

<%= render "slider" %>

<p>Slip.ru — сайт бесплатных объявлений. Миллионы людей в месяц посещают наш сайт. Ежедневно подаются сотни тысяч новых объявлений. Здесь легко найти нужный товар или услугу всего за несколько минут.</p>

</div>

<div class="specials right">
	<div class="special">
		<a href="#">
		<img src="<%= asset_path('cat-image1.png') %>" alt="">
		<h3 class="cat-title">Новинки</h3>
		</a>
	</div>
	<div class="special">
		<a href="#">
		<img src="<%= asset_path('cat-image2.png') %>" alt="">
		<h3 class="cat-title">Популярные Товары</h3>
		</a>
	</div>
	<div class="special">
		<a href="#">
		<img src="<%= asset_path('cat-image3.png') %>" alt="">
		<h3 class="cat-title">Статистика</h3>
		</a>
	</div>
</div>

</div>