<p id="notice"><%= notice %></p>

<h2><%= @product.name %></h2>

<% @product.photos.each do |photo| %>
    <%= image_tag photo.photo.url(:main).to_s %>
<% end %>

<p>
  <%= @product.content %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @product.user %>
</p> -->
<p>
    <h3>Параметры:</h3>
    <% @product.facets.each do |facet| %>
        <strong><%= facet.name %></strong> - 
        <% facet.facet_values.each do |fv| %>
            <%= fv.value %>
        <% end %>
    <% end %>
</p>

<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
