<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Выйти', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Войти', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Редактировать данные', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li><%= link_to 'Админ', admin_root_path %></li>
  <% end %>
<% end %>
