<!DOCTYPE html>
<html>
<head>
  <title>Slip</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- USER MENU <nav id="top-nav">
		<div class="region-inner">
			<ul>
				<li><a href="#">link 1</a></li>
				<li><a href="#">link 2</a></li>
				<li><a href="#">link 3</a></li>
				<li><a href="#">link 4</a></li>
				<li><a href="#">link 5</a></li>
				<li><a href="#">link 6</a></li>
			</ul>
		</div>
	</nav> -->
	<header id="header">
		<div class="header-left-image"><div class="header-right-image">
			<div id="branding" class="region-inner">
				
				<a href="/" id="logo"><img src="<%= asset_path('logo.png') %>" alt="Slip.ru"></a>

				<div class="search-block">
					<div class="search-left-image"><div class="search-right-image">
						<%= render "products/search" %>
					</div></div>
				</div>
			
			</div>
		</div></div>
	</header>
	
	<!-- <div id="filter">
		<ul>
			<li><a href="#">Компьютеры</a></li>
			<li><a href="#">Телефоны</a></li>
			<li><a href="#">Медицинское оборудование</a></li>
			<li><a href="#">Медицинские услуги</a></li>
			<li><a href="#">Бытовая техника</a></li>
			<li><a href="#">Ремонт</a></li>
			<li><a href="#">Одежда</a></li>
			<li><a href="#">Мебель</a></li>
			<li><a href="#">Авто</a></li>
		</ul>
	</div> -->

	<div id="page">
		<div id="content">
			<%= yield %>
		</div>
	</div>

	<footer id="footer">
		<div class="region-inner">
			<p class="copyright">&copy; 2013 Slip.ru</p>
		</div>
	</footer>
</body>
</html>
